
*{
    padding: 0%;
    
    margin: 5px;
    font-family:'inter';
    font-weight: 400;
    line-height: 48px;
    text-align: left;

}
:root{
    font-size: 16px;
    --color1:  #0A3871;
    --colorw:  #FEFEFE;
    --colorf:  #F0F0F0;
    
}
body{
    box-sizing: border-box;
    background: #F0F0F0;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 0.75%;
    
} 
.h_logo{
    width: 5%;
    margin-left: 10px;
}
.h1{
  padding-left: 25%;
  color:#0A3871;
}


main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

    
    .m_textarea{
        border: none;
        color: var(--color1);
        font-size: 2rem;
        margin-top: 5px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        align-items: center;

    }  
    ::placeholder{color: var(--color1)}
    .m_textarea:focus{
        outline: none;
    }

    .mensaje{
        background-color: var(--colorw);
        background-image: url(./imagenes/Muñeco.png);
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color:var(--color1);
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
        width:calc(100% - 40px);
        min-height: 150px;
        box-sizing: border-box;

    }

    .mensaje:focus{
        outline: none;
    }
    .botones{
        display: flex;
        margin-top: 18px;
        align-items: center;
        gap: 10px;
    }
    
    .btmEncriptar{
        background-color: var(--color1);
        border: 1px solid var(--color1);
        border-radius: 24px;
        color: var(--colorf);
        cursor: pointer;
        height: 67px;
        width: 50%;
        text-align: center;
        line-height: 67px;
    }
    .btmDesencriptar{
        background-color: var(--colorf);
        border: 1px solid var(--color1);
        border-radius: 24px;
        color: var(--color1);
        cursor: pointer;
        height: 67px;
        margin-left: 108px;
        width:  50%;
        text-align: center;
        line-height: 67px;
    }
    .section2 {
        width: 30%; 
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorw);
        border: none;
        border-radius: 24px;
        padding: 20px; 
    }
    
    .btmCopiar{
        border: 1px solid var(--color1);
        border-radius: 24px;
        width: 100%;
        text-align: center;
        line-height: 67px;
        background-color: transparent;

    } 
    .p{
        font-size: 1 rem;
        color: orangered;
        background-color: transparent; 
    }
    .textog{
        font-size: 2 rem;
        color: orangered;
        background-color: transparent; 
    }
    

  /* Tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
    .main {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    
    .m_textarea {
        width: 100%;
    }

    .section2 {
        width: 80%; 
        height: 30vh; 
        overflow: auto; 
        margin-top: 20px;
    }

    .mensaje {
        width: 100%; 
    }

    .botones {
        display: flex; 
        flex-direction: row;
        gap: 20px;
    }
}
/* Móviles */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px; 
    }
    .h1{
        padding-left: 0%
    }
        .main {
        display: flex;
        flex-direction: column;
        padding: 8px; 
        align-items: center;
    }
    .m_textarea {
        width: 90%; 
        height: 30vh;
        box-sizing: border-box;
        font-size: 1rem; 
        padding: 8px; /
    }

    .section2 {
        width: 90%; 
        height: 30vh; 
        overflow: auto; 
        margin-top: 15px; 
    }
    .mensaje {
        width: 100%; 
        font-size: 1rem; 
        padding: 8px; 
    }

    .botones {
        display: flex;
        flex-direction: column;
        gap: 8px; 
        align-items: center;
    }
    .btmEncriptar, .btmDesencriptar, .btmCopiar {
        align-items: center;
        font-size: 0.9rem; 
        padding: 10px 15px; 
        width: 60%; 
        height:  10vh;
    }
    .btmDesencriptar {
        margin-left: 0; 
    }
}

